<!-- https://www.codeply.com/go/AP1MpYKY2H/bootstrap-4-card-deck-columns-per-row -->
<!-- https://shopify.github.io/liquid/basics/introduction/ -->

<div class="container">
    <div class="row">

        {% for author in include.sec limit:3 %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/350x350" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"> <a href="{{ author.url }}">{{ author.title }}</a></h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>