
<title>{{ site.title}}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/assets/novo.css">

<div class="navegador">
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/python">Curso de python</a></li>
                <li><a href="/git"> Curso de Git</a></li>
                <li><a href="/about">About</a></li>
              </ul>
</div>


