
/* para os cartão */
/* .row {
    display: flex;
    flex-wrap: wrap;
  
 }


 
 .row > div[class*='col-'] {
   display: flex;
   padding: 10px 10px 20px 10px;
 } */

 .cartao-inicio{
   padding: 20px;
 }

 .serie{
   padding: 10px 0px 0px 10px;
   background: rgb(29, 50, 145);
   margin:  10px 10px 10px 10px;
 }

 .break{
   margin: 10px 0px 10px 0px;
   padding:  10px 10px 10px 10px;
   /* background: red; */
 }

 .descricao-serie{
  margin: 10px 0px 10px 0px;

 }

 .col-sm-4{
   padding: 10px 10px 10px 10px;
 }
 .card{
   margin: 0px 5px 0 5px 0px;
   padding: 10px 10px 10px 10px;
   border-radius: 25px;
 }
.card:hover{
  background:hsl(63, 72%, 59%);;
}

 /* navbar do site */
 .navegador{
  background: hsl(218, 47%, 92%);
  color:hsl(63, 72%, 59%);
 }
 .text-muted:hover{
 background:hsl(63, 72%, 59%);
 }
 .navegador>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navegador>ul>li {
  float: left;
}

.navegador>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navegador>ul>li a:hover {
  background-color: #111;
}


.selecionado{
  color: brown;
  background: #111;
  padding: 5px 5px;

}

.texto-serie ~ .container{
  background: aquamarine;
  font-size: 20px;
}



.header{
  padding: 10px 10px 20px 10px;
    color: beige;
    background: #343a40;
}

/* img-fluid */
/* img{
  width:100%;
  max-width:900px;
  max-height: 200px;
} */
/* .fundo{
  background-image: url("/assets/professor-marcolan-logo.png");
} */

/* .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */