---
layout: "default"
author: "Joao"
---


<!-- 
{%if page.title == "Aula 2" %}
    This is the firs post 

{% endif %}




<h1>This is a post</h1>
<hr>
<h2>{{ layout.author }}</h2>
<p> Adiciona o autor do layout</p>




<p>
    Adiciona o titulo da pagian
</p>

<h2>{{ page.author }}</h2>
<p> Adiciona o autor da pagina</p>

<h2>python curses</h2>
<ul>
    {% for author in site.python %}
      <li>
        <h2><a href="{{ author.url }}">{{ author.title }}</a></h2>
      </li>
    {% endfor %}
  </ul> -->

<div class="fundo">
  <div class="container ">
    <div class="header">


      <div class="row">
        <div class="col">
          <h1 class=""> {{ page.title }}</h1>
          <p>Multiple lines of text that form the lede, informing new readers quickly and efficiently
            about what’s most interesting in this post’s contents.</p>
        </div>

        <div class="col">
          <img class="card-img-top img-fluid" src="//placehold.it/250x250" alt="Card image cap">
        </div>

      </div>
    </div>

    <!-- <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
            
                  <h1 class="display-8 font-italic"> {{ page.title }}</h1>
                  <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
                    about what’s most interesting in this post’s contents.</p>
      
                </div>
              </div> -->
  </div>

</div>



<div class="container">



  <div class="row">

    <div class="col-lg-9">
      <div style="padding: 10px 10px 10px 10px; background: hsl(100, 90%, 80%)">
        {{ content }}
      </div>

    </div>
    <div class="col-lg-3">

      <div>
        <div style=" background: red;display: fixed;">
          {% for author in site.py %}
          <div style="padding: 10px 10px 10px 10px; background: green; margin: 10px 10px 10px 10px;">
            <a href="{{ author.url }}" {% if author.url == page.url %} class="selecionado"
              {% endif %}>{{ author.title }}</a>
          </div>
          <!-- <ul>
          <li> <a href="{{ author.url }}" {% if author.url == page.url %} class="selecionado"
              {% endif %}>{{ author.title }}</a></li>
        </ul> -->
          {% endfor %}

          

      </div>
      <img class="card-img-top" src="/assets/professor-marcolan-logo.png"
            style="width:auto;height:150px;" alt="Card image cap"></div>
      <div>

      </div>
    </div>
    <!-- </div> -->




  </div>
</div>